* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #3300ff;
    --secundaria: #6c757d;
    --escuro: #06121e;
    --maisEscuro: #343a40;
    --claro: #f8f9fa;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--escuro);
    color: var(--claro);

}

.navegação {
    position: fixed;
    top: 0;
    background: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}

.menu-link {
    color: var(--claro);
    text-decoration: none;
    padding: 0.3rem;
    position: relative;
    font-weight: 600;
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
    transition: width 0.3s ease-in-out;
}

.cabecalho {
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('./img/fundo.jfif');
    background-size: cover;
    background-position: center;
}

.foto-perfil {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid var(--vidro);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: flutuar 5s ease-in-out infinite;
}

h1 {
    font-size: 3.5rem;
    color: var(--claro);
    font-weight: bold;
    margin-top: 20px;
}

.cabecalho-sub {
    font-size: 1.5rem;
    color: var(--claro);
    margin-top: 10px;
}

.sobre {
    padding: 6rem 2rem;
    color: var(--claro);
    text-align: center;
}

.sobre-titulo {
    font-size: 3rem;
    color: var(--claro);
    margin-bottom: 20px;
    text-align: center;
}

.sobre-caixa {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 16px;
    border: 1px solid var(--escuro);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.05);
}

.sobre-paragrafo {
    text-align: center;
    font-size: 1.2rem;
}

.projetos {
    padding: 6rem 2rem;
}

.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: var(--claro);

}

.projeto-card:hover {
    box-shadow: 0 10px 20px var(--secundaria);
    transform: translateY(-10px) scale(1.05);
}

.projeto-imagem {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;

}

.projeto-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var (--vidro);
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}

.caixa-texto-projeto {
    padding: 1.5rem;
}

.info-projetos {
    margin-bottom: 5px;
}

.paragrafos-projeto {
    color: whitesmoke;
    line-height: 1.25;
}

.contatos {
    padding: 6rem 2rem;
}

.contatos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: var(--claro);
}

.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;

}

.campo-form {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;
}

.campo-form:focus {
    border-color: var(--primaria);
    box-shadow: 0 0 10px var(--primaria);
}

.grupo-form {
    margin-bottom: 1.5rem;
}

.botao-form {
    color: var(--claro);
    background: linear-gradient(45deg, var(--secundaria), var(--escuro));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5 ease;
}

.botao-form:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px#0d0043;
}

.particulas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background:
        radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 20%),
        radial-gradient(circle at 90% 80%, var(--primaria) 0%, transparent 20%),
        var(--vidro)
}

@keyframes flutuar {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}